<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Create Course</title>
  <link rel="stylesheet" href="../stylesheet/createCourse.css" />
</head>

<body>
  <%- include('adminnavbar') %>
  <div class="wrapper">
    <% if (messages.success) { %>
    <div class="notification">
      <p style="color: white; background-color: rgb(80, 161, 80)">
        <%= messages.success %>
      </p>
    </div>
    <% }else if (messages.error) { %>
    <div class="notification">
      <p style="color: white; background-color: #ff2c2c">
        <%= messages.error %>
      </p>
    </div>
    <% } %>
    <div class="top">
      <div class="welcome">
        <h1>Edit course</h1>
      </div>
    </div>
    <form action="/course/update" method="post" enctype="multipart/form-data">
      <div class="inputfields">
        <div class="heading">
          <h3>Create a course</h3>
        </div>
        <div class="course category">
          <label for="category">Category</label>
          <select name="category">
            <option value="webdevelopment" <%= courseUpdate.category === 'webdevelopment' ? 'selected' : '' %>>Web Development</option>
            <option value="MERN Stack" <%= courseUpdate.category === 'MERN Stack' ? 'selected' : '' %>>MERN Stack</option>
            <option value="Machine Learning" <%= courseUpdate.category === 'Machine Learning' ? 'selected' : '' %>>Machine Learning</option>
            <option value="Artificial Intelligence" <%= courseUpdate.category === 'Artificial Intelligence' ? 'selected' : '' %>>Artificial Intelligence</option>
          </select>
        </div>


        <div class="course title">
          <label for="title ">Course title</label>
          <input type="text" name="title" hidden value="<%= courseUpdate.title %>" />
          <input type="text" name="courseTitle" disabled="" value="<%= courseUpdate.title %>" />
          
        </div>
        <div class="course Description">
          <label for="Description">Course Description</label>
          <input type="text" name="description" value="<%= courseUpdate.description %>" />
        </div>
        <div class="course Image">
          <label for="courseImage">Course Image</label>
          <input type="file" name="courseImage" />
          <% if (courseUpdate.courseImage) { %>
          <img src="<%= courseUpdate.courseImage %>" alt="Course Image" style="max-width: 200px; margin-top: 10px;" />
          <% } %>
        </div>
        <div class="course duration">
          <label for="Description">Course Duration</label>
          <input type="text" name="duration" value="<%=courseUpdate.duration  %> " />
        </div>
        <div class="course Createdby">
          <label for="Description">Course Createdby</label>
          <input type="text" name="createdBy" value="<%= courseUpdate.createdBy %> " />
        </div>
        <div class="submit">
          <button type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
  <script src="../scripts/createcourse.js"></script>
</body>

</html>